*{
    font-family: "CustomFont";
  }
  
  
  @font-face {
    font-family: "CustomFont";
    src: url(../public/fonts/ProductSans-Bold.woff);
  }

  .card{
    box-shadow: 0 0.188em 1.00em rgb(121, 226, 255);
  }

  .buttonUniversal{
    transition: 0.4s;
  }

  .buttonUniversal:hover{
    transform: scale(1.1);
  }

  .lyrics-container {
    white-space: pre-line;
  }