*{
    font-family: "CustomFont";
    
  }
  
  
  @font-face {
    font-family: "CustomFont";
    src: url(../public/fonts/ProductSans-Bold.woff);
  }

  .card{
    box-shadow: 0 0.188em 1.00em rgb(121, 226, 255);
  }

  .buttonUniversal{
    transition: 0.4s;
  }

  .buttonUniversal:hover{
    transform: scale(1.1);
  }

  .lyrics-container {
    white-space: pre-line;
  }

  .song-bg{
    box-shadow: 0 0.188em 1.00em rgb(121, 226, 255);
  }

  .volume-btn{
    height: 1px;
    width: 100px;
    border-radius: 20px;
    -webkit-appearance: none;
  }

  .volume-btn::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    border-radius: 500px;
    box-shadow: 0 0.188em 1.00em rgb(121, 226, 255);

  }

  
  .timeline-btn{
    border-radius: 500px;
    height: 1px;
    width: 150px;
    border-radius: 20px;
    -webkit-appearance: none;
    background: rgb(254, 254, 254);
    
  }

  .timeline-btn::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 0 0.188em 1.00em rgb(121, 226, 255);

  }


 .preLoad{
  width: 100%;
  height: 100vh;
 
  background-color: black;
 }